
body {
         color: white;
         font-family: Calibri;
         background-image: url("cybersecurity.jpg");

      }
table, th, td hr{
  border: 1px solid white;
}
h2{
color:red;
font-size: 26px;
}
h3 {
color:green;
font-size: 23px;
}
p {
  color:white;
  font-size: 20px;
}
ol {
  color:white;
}
#wholeWebsite{
	 color: white;
         font-family: Calibri;
         background-image: url("cybersecurity.jpg");
	}
img {
	 border: 4px dotted red;
}
th a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
th a:hover {
  background-color: white;
  color: red;
}
video{
  border: 1px solid white;
  display: flex;
  margin: auto;
}
